extends layout

block content
  h1= title
  p Welcome to #{title}

  section
    .container
      #main_map

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  script(src='javascripts/mapa.js')